
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

$color-1: #5f8ee4; // Cornflower Blue - Action color
$color-2: #19191a; // Dark Blue
$color-3: #e4655f; // Red
$color-4: #e6e6e6; // light grey
$color-5: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

// fonts

$primary-font: 'Merriweather', serif;
$secondary-font: 'Open Sans', sans-serif;
/* -------------------------------- *\
 * xPurpose                         *
\* -------------------------------- */
/**
 * This styleguide is for the basic
 * styling of the Zen garden project.
 * It defines basic typography, layouts,
 * and other useful reusable aspects of the
 * styles needed. The overall theme is that
 * of an old timey newspaper.
 */


/* -------------------------------- *\
 * xColors                          *
\* -------------------------------- */
$headline-color: #111; // Some kind of darker gray, almost black
$border-color: $headline-color;
$article-color: #222; // Some kind of slightly lighter gray
$top-head-color: #000; // Black or a touch below
$background-color: #e4ccb4; // Sepia or gray
body {
	color: $article-color;
}
header {
	h1, h2 {
		color: $top-head-color;
	}
}
h1,h2,h3 {
	color: $headline-color;
}


/* -------------------------------- *\
 * xTypography                      *
\* -------------------------------- */
$top-head-font: Impact, sans-serif;
$headline-font: Georgia, serif;
$article-font: "Courier New", monospace;
$caption-font: italic "Courier New"; // Caption font to be used in any ::before or ::after or background images inserted through SCSS
body {
	font-family: $article-font;
}
header {
	h1, h2 {
		font-family: $top-head-font;
	}
}
h1, h2, h3 {
	font-family: $headline-font;
}



/* -------------------------------- *\
 * xNavigation                      *
\* -------------------------------- */
// no list style
ul {
	list-style: none;
}
// no text underline
a {
	text-decoration: none;
}
// titles in all caps
.design-selection li,
.viewall,
.zen-resources li {
	text-transform: uppercase;
}
// TODO: Add common flexbox features if needed

/* -------------------------------- *\
 * xWireframes                      *
\* -------------------------------- */
// TODO: Email Br. Blaylock

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	/* this is the page background */
	background-color: $background-color;
}

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	border: 1px solid $border-color;
	border-radius: 3px;
	background: $background-color;
	box-shadow: 0 1px 1px rgba(#000, .05);
	padding: 6px;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */

header {
	background-color: $background-color;
}

.cd-logo {
	/* logo box style */
	background-color: $background-color;
	width: 120px;

	@include MQ(M) {
		width: 180px;
	}
}

.cd-main-nav {
	/* main navigation background color - full screen on small devices */
	background: $background-color;

	li a {
		color: $article-color;
		border-color: lighten($article-color, 5%);
	}

	@include MQ(M) {
		li a {
			color: lighten($article-color, 40%);

			&.selected {
				color: $article-color;
				box-shadow: 0 2px 0 $top-head-color;
			}

			.no-touch &:hover {
				color: $article-color;
			}
		}
	}
}

.cd-nav-trigger span {
	/* hamburger menu */
	background-color: $background-color;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $background-color;
	}
}

.nav-is-visible .cd-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($background-color, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($background-color, 1);
	}
}

.cd-download {
	/* download button top-right visible on big devices */
	background-color: lighten($background-color, 10%);

	.no-touch &:hover {
		background-color: lighten($background-color, 15%);
	}

	span {
		/* tooltip */
		background: $background-color;
		color: $article-color;

		&::before {
			/* right arrow color */
			border-color: $article-color;
		}
	}
}

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
	color: $headline-color;

	@include MQ(L) {
		/* title goes into the header on big devices */
		color: $headline-color;
	}
}

/* -------------------------------- 

xTypography 

-------------------------------- */

h1, h2 {
	font-family: $headline-font;
	color: $headline-color;
}

h1 {
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 0 .4em;

	@include MQ(S) {
		font-size: 3.2rem;
	}

	@include MQ(M) {
		font-size: 4rem;
	}
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em 0;

	@include MQ(S) {
		font-size: 1.8rem;
		margin: 1em 0 1.4em;
	}
}

section > h2::before {
	/* number before each section title */
	color: darken($headline-color, 15%);
}

p {
	font-size: 1.4rem;
	line-height: 1.4;
	color: lighten($article-color, 25%);

	a {
		color: $article-color;
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

@import 'partials/basic-style';