/* ------------------------------------------------
   Partials                      
------------------------------------------------ */
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/layout';
@import 'partials/base';
@import 'partials/navigation';

// titles in all caps
.design-selection li,
.viewall,
.zen-resources li {
	text-transform: uppercase;
}

/* ------------------------------------------------
   Patterns                      
------------------------------------------------ */
.cd-box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	border: 1px solid $border-color;
	border-radius: 3px;
	background: $background-color;
	box-shadow: 0 1px 1px rgba(#000, .05);
	padding: 6px;
}

.cd-logo {
	background-color: $background-color;
	display: inline-block;
	height: 100%;
	position: relative;
	width: 120px;
	img {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		@include transform(translateX(-50%) translateY(-50%));
	}
	
	@include MQ(M) {
		width: 180px;
	}

	@include MQ(L) {
		margin-left: 5%;
	}
}



/* ------------------------------------------------
   Wireframes Section                 
------------------------------------------------ */

/* ------------------------------------------------
   Purpose Section           
------------------------------------------------ */

/* ------------------------------------------------
   Branding Section                      
------------------------------------------------ */

.cd-branding {

	.cd-box {
		margin-bottom: 1em;
	}

	img {
		display: block;
		width: 100%;
	}

	ul:last-of-type {
		padding-top: .6em;

		li {
			display: inline-block;
			margin-right: 1em;
		}

		li:nth-of-type(1) img {
			width: 90px;
			height: 90px;
			border-radius: 1em;
		}

		li:nth-of-type(2) img {
			width: 60px;
			height: 60px;
			border-radius: .6em;
		}

		li:nth-of-type(3) img {
			width: 32px;
			height: 32px;
			border-radius: .4em;
		}

		li:nth-of-type(4) img {
			width: 16px;
			height: 16px;
			border-radius: .2em;
		}
	}

	@include MQ(S) {
		.cd-box {
			@include column(.49);
			margin: 0 2% 2em 0;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}

		ul:last-of-type {
			clear: left;

			li {
				margin-right: 3em;
			}
		}
	}
}

/* ------------------------------------------------
   Color Section                      
------------------------------------------------ */

.cd-colors {

	li {
		text-align: center;
		@include column(.48);
		margin: 0 4% 1em 0;

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}

	.cd-color-swatch {
		position: relative;
		width: 100%;
		padding: 50% 0;

		&::before, &::after {
			/* lighter and darker color shades of the same swatch */
			content: '';
			position: absolute;
			bottom: 0;
			width: 50%;
			height: 20%;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}
	}

	b {
		display: block;
		padding: .6em 0;
	}

	li:nth-of-type(1) .cd-color-swatch {
		background: $headline-color;

		&::before {
			background: lighten($headline-color, 5%);
		}

		&::after {
			background: darken($headline-color, 5%);
		}
	}

	li:nth-of-type(2) .cd-color-swatch {
		background: $article-color;

		&::before {
			background: lighten($article-color, 5%);
		}

		&::after {
			background: darken($article-color, 5%);
		}
	}

	li:nth-of-type(3) .cd-color-swatch {
		background: $top-head-color;

		&::before {
			background: lighten($top-head-color, 5%);
		}

		&::after {
			background: darken($top-head-color, 5%);
		}
	}

	li:nth-of-type(4) .cd-color-swatch {
		background: $background-color;

		&::before {
			background: lighten($background-color, 5%);
		}

		&::after {
			background: darken($background-color, 5%);
		}
	}

	@include MQ(S) {
		li {
			@include column(.19);
			margin: 0 1.25% 1em 0;

			&:nth-of-type(2n) {
				margin-right: 1.25%;
			}

			&:nth-of-type(5n) {
				margin-right: 0;
			}
		}
	}
}

.cd-typography .cd-box,
.cd-buttons .cd-box,
.cd-icons .cd-box,
.cd-form .cd-box {
	padding: 1em;

	@include MQ(S) {
		.cd-box {
			padding: 2em;
		}
	} 
}

/* ------------------------------------------------
   Typography Section                      
------------------------------------------------ */

.cd-typography {

	h1::before {
		content: 'Aa - ';
		color: $headline-color;
	}
}

.cd-buttons {
	.cd-box:first-of-type {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.cd-box:last-of-type {
		margin-top: -1px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	button {
		margin: .4em;
	}

	@include MQ(M) {
		button {
			margin: 1em;
		}
	}
}

/* ------------------------------------------------
   Icons                      
------------------------------------------------ */

.cd-icons {
	li {
		display: inline-block;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 1em;
	}

	.cd-icon-1 {
		background-image: url('../assets/icons/icon-1.svg'); 
	}

	.cd-icon-2 {
		background-image: url('../assets/icons/icon-2.svg'); 
	}

	.cd-icon-3 {
		background-image: url('../assets/icons/icon-3.svg'); 
	}

	.cd-icon-4 {
		background-image: url('../assets/icons/icon-4.svg'); 
	}

	.cd-icon-5 {
		background-image: url('../assets/icons/icon-5.svg'); 
	}

	.cd-icon-6 {
		background-image: url('../assets/icons/icon-6.svg'); 
	}

	.cd-icon-7 {
		background-image: url('../assets/icons/icon-7.svg'); 
	}

	.cd-icon-8 {
		background-image: url('../assets/icons/icon-8.svg'); 
	}
}

/* ------------------------------------------------
   Form Section             
------------------------------------------------ */

.cd-form {
	input[type=text],
	.cd-input-wrapper {
		margin: 1em;
	}

	.cd-input-wrapper {
		position: relative;
		display: inline-block;
	}

	select::-ms-expand {
      display: none;
	}
}

@-moz-document url-prefix(){
	/* hide custom arrow on Firefox */
	.cd-select::after {
		display: none;
	}
}

.no-csstransitions .cd-select::after {
	display: none;
}